<h1>Index of Sites</h1>
asdf
<%= link_to "Add new site", new_site_url %>
<% @sites.each do |site| %>
<ul>
  <li><%= site.url %> </li>
  <% if site.ping %>
    Ping success
  <% else %>
    Ping failed
  <% end %>
</ul>
asdf
<% end %>
